.container-fluid {
    .card {
        .card-body {
            text-align: center;
            .container{
                max-width: 380px;                            
                ul{
                    padding-left: 0;
                    li{
                        text-align: left;
                        font-size: 14px;
                    }
                }
                button {
                    text-decoration: none;  
                    color: $secundary;
                    &:hover{
                        color: $secundary;
                        text-decoration: none;  
                    }
                    a{
                        color: $secundary;                                          
                    }
                }            
            }
        }
    }
}