<div class="container-fluid">
    <div class="row vh-100 bg-light justify-content-center align-items-center">
        <div class="col-4">
            <!-- <p>Html - Ângular - React - Vue - Dart</p> -->
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-3">StoryPack</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <ul>
                                    <li>Webpack</li>
                                    <li>Storybook</li>
                                    <li>Bootstrap</li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>Jquery</li>
                                    <li>Slick</li>
                                    <li>Swiper</li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>FontAwesome</li>
                                    <li>Animation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary"><a href="#">Abrir Storybook</a></button>
                    <button type="button" class="btn btn-primary"><a href="#">Abrir Webpack</a></button>
                </div>
            </div>
        </div>
    </div>
</div>