@import "~bootstrap/scss/bootstrap";

$primary: #0099cc;
$secundary: #ffffff;

a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

h3 {
    color: $primary;                
}

p{
    text-align: left;
    font-size: 14px;
}